body {
	background-color: #4f9bff;
	font-size: 14px;
	text-align: center;
}
input::-webkit-input-placeholder {
	color: #888;
}
.page-content {
	position: relative;
	top: -12px;
	padding: 0 20px 3px;
}
.secret-card {
	position: relative;
	display: table;
	width: 180px;
	height: 80px;
	padding: 23px;
	margin: 0 auto 25px;
	background: url("../images/secret/card_bg.png") 50% 0 no-repeat;
	background-size: 100% 100%;
}
.secret-card > p {
	display: table-cell;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-weight: bold;
	line-height: 150%;
	background-color: #bebebe;
	color: #bebebe;
	vertical-align: middle;
}
.secret-card > p.current {
	background-color: #efefef;
	color: #888;
}
.secret-card canvas {
	position: absolute;
	top: 23px;
	left: 23px;
	width: 180px;
	height: 80px;
}
.secret-box {
	margin-top: 18px;
	padding: 0 15px;
}
.secret-input {
	width: 100%;
	padding: 12px;
	background-color: #fff;
	border-radius: 8px;
	border: 0px;
	color: #555;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.secret-btn {
	padding: 14px 0 12px;
	font-size: 16px;
	font-weight: bold;
	background-color: #fded01;
	border-radius: 30px;
	box-shadow: 0 2px 0 #febd01;
	color: #823211;
}
.btn-share {
	background-color: #fe0096;
	box-shadow: 0 2px 0 #b10096;
	color: #fff;
}
.secret-rule {
	padding-top: 25px;
}
.rule-thead {
	width: 100px;
}
.rule-tbody {
	padding-top: 8px;
	line-height: 130%;
	color: #fff;
	text-align: left;
}
